body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', sans-serif;
  background: #66ee78;
}

input,
select {
  border: 1px solid #e6ecf0;
  background-color: #f5f8fa;
  border-radius: 10px;
  padding: 3px 5px;
  height: 32px;
  width: 100%;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
}

.form-field-container {
  display: grid;
  grid-row-gap: 15px;
}